<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div style="text-align: center">  <img src="../../assets/logo.svg" alt=""></div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
    <ion-list style="text-align: center">
      <ion-searchbar (ionInput)="getNameSurname($event)" [ngStyle]="{'padding':'15px'}" class="Monte" placeholder="Cerca paziente...">
      </ion-searchbar>
      <ion-item-sliding *ngFor="let triage of historyTriage">
    <ion-item  style="text-align: center">
      <span>ID {{triage.id}} </span>
      <ion-label>{{triage.cliente.nome}} <br> {{triage.cliente.cognome}}</ion-label>
      <ion-label>{{triage.timestamp | date:'dd/MM/yyyy H:mm' }}</ion-label>
<!--      <img *ngIf="platformSystem==='mobile'" (click)="download(triage.id, triage.cliente.nome, triage.cliente.cognome )" style="height: 1.5rem;width: auto" src="../../assets/download.svg" alt="">-->
      <a target="_blank" href="http://64.227.74.93:8000/anamnesi/get_pdf/?id_triage={{triage.id}}"><img style="height: 1.5rem;width: auto" src="../../assets/download.svg" alt=""></a>
    </ion-item>
        <ion-item-options side="start">
          <ion-button style="text-align: center;color: white;align-self: center" (click)="deleteTriage(triage.id)">Cancella</ion-button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
  <div style="padding: 35px;text-align: center">
    <ion-text *ngIf="!historyTriage">Nessun triage presente</ion-text>
  </div>
</ion-content>
