<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center">
    <img src="../../assets/logo.svg" alt="">
  </ion-toolbar>
</ion-header>

<ion-content style="padding:15px">
  <div id="logo" [ngStyle]="{'padding':'35px','height':heightDiv+'px'}">
      <img class="centerPro" src="../../assets/logo_1.svg" alt="">
  </div>
  <div id="" style="padding:35px;">
  <form #LoginForm="ngForm" (ngSubmit)="login(LoginForm)" >
    <ion-item>
      <ion-input placeholder="Username" type="text" name="username" autocorrect="false" clearInput="true" ngModel required #username="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" type="password" name="password" ngModel required #password="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="username.invalid && (username.dirty || username.touched) " class="alert alert-danger">
      <div style="margin-top:10px;" *ngIf="username.errors.required">
        Username obbligatorio.<br>
      </div>
    </div>
    <div style="margin-top:10px;" *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors.required">
        Password obbligatoria.
      </div>
    </div>
    <br>
    <div class="alert alert-danger">
      {{errorMessage}}
    </div>
    <div style="text-align: center">
      <ion-button color="primary" type="submit" [disabled]="!LoginForm.valid" >{{loginLabel}}</ion-button>
    </div>
  </form>
  </div>
</ion-content>
