<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label><strong>{{user.denominazione}}</strong></ion-label>
    </ion-item>

    <ion-card-content>
      <span><strong>Legale rappresentante:</strong></span><br>
      <span>{{user.nome}} {{user.cognome}}</span><br><br>
      <span><strong>indrizzo:</strong> {{user.indirizzo}}</span><br>
      <span><strong>P.iva:</strong> {{user.partita_iva}}</span><br>
    </ion-card-content>
  </ion-card>
  <div style="padding: 25px">
    <ion-button style="width: 100%;" (click)="logout()">Logout</ion-button>
  </div>
</ion-content>
